<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <script src="https://use.typekit.net/hkz5yyt.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <!-- build:css({app,.tmp}) /css/main.css -->

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- endbuild -->

    </head>
    <body>

          {% include _header.html %}

        <div class="container">

          <!-- {{ content }} -->

          <h2>Notre démarche</h2>

          <p>Notre formule pour concevoir des sites et des applications mobiles élégants, responsive et générateur de croissance pour votre entreprise.</p>

          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                <h3>Ecoute et Analyse</h3>

                <p>Nous vous écoutons afin de connaître votre entreprise, votre secteur et de comprendre vos objectifs et votre audience cible. Nous analysons ensuite votre projet et vous proposons une solution adaptée à vos objectifs et à votre budget. </p>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                <h3>Collaboration & conception</h3>

                <p>Tout au long de la conception, nous vous intégrons à notre processus de création pour que notre collaboration donne naissance à un projet réussi.</p>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                <h3>Lancement</h3>

                <p>Nous vous accompagnons lors du lancement pour vous aider à atteindre votre audience sur n’importe quel type d’appareil (PC, mobiles, tablettes). Nous collaborons ensemble pour analyser et mesurer votre succès. </p>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                <h3>Suivi & Maintenance</h3>

                <p>Après le lancement, nous sommes à vos côtés pour vous assister afin que notre travail commun soit un succès et que l’on puisse continuer à vous accompagner en toute sérénité. </p>

            </div>

            </div>

            <div class="clearfix">

            <h2>Nos services</h2>

            <p>Nous portons plusieurs casquettes, voici les principales. </p>

            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                  <h3>Design</h3>

                  <ul>
                      <li>Création et refonte de sites webs</li>
                      <li>Design d’interface</li>
                      <li>User-experience (UX) design</li>
                      <li>E-Commerce design</li>
                      <li>Creative direction & design</li>
                      <li>Information architecture</li>
                      <li>Création logo et charte graphique sur tout type de support</li>
                      <li>Gestion de l’impression avec nos imprimeurs partenaires</li>
                  </ul>

              </div>

              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                    <h3>Développement </h3>

                    <ul>
                      <li>Responsive design</li>
                      <li>Développement web et mobile</li>
                      <li>WordPress Development</li>
                      <li>Shopify e-commerce</li>
                    </ul>

              </div>

              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                  <h3>Marketing digital</h3>

                    <ul>
                      <li>Campagnes SEO</li>
                      <li>Audit SEO</li>
                      <li>Campagnes emailing & newsletter</li>
                      <li>Etude stratégique sur les réseaux sociaux</li>
                      <li>Création de contenu en français et en anglais :</li>
                      <li>Articles de blog</li>
                      <li>eBooks</li>
                      <li>Livres blancs</li>
                      <li>Séquences d’emails</li>
                    </ul>
              </div>

              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                  <h3>eCommerce</h3>

                  <ul>
                    <li>Création de site ecommerce : Shopify, Woo Commerce</li>
                    <li>Accompagnement personnalisé et formation à la vente sur Amazon, eBay,  CDiscount et Etsy</li>
                    <li>Conseils stratégiques sur la vente sur Amazon aux Etats-Unis et en Europe</li>
                    <li>Analyse SEO et écriture de vos descriptions produits</li>
                  </ul>

              </div>
            </div>
            </div>

          </div>

          <div class="footer">
            <div class="contact">
              <p>
                Azuweb<br />
                <a href="mailto:williamhutter@me.com">williamhutter@me.com</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div>

    <!-- build:js(app) /js/scripts.js -->
    <script src="/_bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/_bower_components/jquery.transit/jquery.transit.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    </body>
</html>
