.icon-WEB { background-image: url('png/WEB.png'); background-repeat: no-repeat; }

.icon-analyse { background-image: url('png/analyse.png'); background-repeat: no-repeat; }

.icon-collaborer { background-image: url('png/collaborer.png'); background-repeat: no-repeat; }

.icon-lancement { background-image: url('png/lancement.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-maintenance { background-image: url('png/maintenance.png'); background-repeat: no-repeat; }

