<header class="header">
            <div class="header__shadow"></div>
            <div class="header__bg-img"></div>
                <video poster="" id="video" class="header__video" autoplay>
                    <source src="videos/intro.mp4" type="video/mp4" >
                </video>
                <div class="header__text header__text--1">
                    <h2>Marketing digital</h2>
                    <h3>Étude de marché, analyse concurrentielle, USP</h3>
                </div>
                <div class="header__text header__text--2">
                    <h2>Ecommerce</h2>
                    <h3>Importation des produits vers les places de marché à travers le monde</h3>
                </div>
                <div class="header__text header__text--3">
                    <h2>Design</h2>
                    <h3>Création de marque, storytelling et charte graphique</h3>
                </div>
                <div class="header__text header__text--4">
                    <h2>Développement</h2>
                    <h3>Intégration et développement de sites web</h3>
                </div>
</header>
