* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

@import "../_bower_components/typesettings/_typesettings";

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
    font-style: italic;
    color: #999;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}





/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $brand-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


.dn {
    display: none;
}

/**
 * Buttons
 */
.btn-primary {
    border-radius: 0px;
    color: #fff;
    background-color: $brand-color;
    border-color: $brand-color;
    padding: 30px 50px;
    &:focus, &:hover, &:active, &:visited, &:active:hover {
        color: #fff;
        background-color: $brand-color;
        border-color: $brand-color;
    }
}
.btn-secondary {
    border-radius: 0px;
    color: #fff;
    border-width: 3px;
    border-color: #fff;
    padding: 30px 50px;
    &:focus, &:hover, &:active, &:visited, &:active:hover {
        color: $brand-color;
        background-color: #fff;
        border-color: #fff;
    }
}

// bootstrap overides

.btn {
    background: transparent;
    color: $brand-color;
    border: solid 1px $brand-color;
    transition: all 0.3s ease-in-out;
    &:visited {
        color: $brand-color;
    }
    &:hover {
        background: $brand-color;
        color: #fff;
    }
}

.btn-xlarge {
    padding: 25px 50px;
    font-weight: 100;
    font-size: 30px;
    line-height: normal;
    border-radius: 8px;
}

.icon-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    background-size: 50%;
    background-position: center center;
    border-radius: 50%;
    background-color: lighten($brand-color, 40);
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.red {
    color: $brand-color;
}
.white {
    color: #fff;
}

.bold {
    font-family: "bebas-neue";
    font-weight: $base-font-weight;
}

.tac {
    text-align: center;
}

label {
    font-weight: normal;
    font-family: $base-font-family;
}


.form-control {
    height: 50px;
}

.px-img {
    position: relative;
    &-front {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
    }
    &-back {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
    }
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -30px 100px rgba(0,0,0,.9);
    top: 0;
    left: 0;
    z-index: 2;
}


.container {
    min-width: 640px;
    padding: 0 100px 50px;
    @media screen and (max-width: 1200px) {
        padding: 0 30px;
    }
}

.margin-auto {
    margin: auto;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


.db{display: block;}
.di{display: block;}
.dib{display: inline-block;}

.fl {float:left;}
.fr {float:right;}
.ma {margin: auto;}

.m0 {margin: 0px;}
.mt0 {margin-top: 0px;}
.mb0 {margin-bottom: 0px;}
.ml0 {margin-left: 0px;}
.mr0 {margin-right: 0px;}

.m\-{margin: 10px;}
.mt\- {margin-top: 10px;}
.mb\- {margin-bottom: 10px;}
.ml\- {margin-left: 10px;}
.mr\- {margin-right: 10px;}

.m {margin: 20px;}
.mt {margin-top: 20px;}
.mb {margin-bottom: 20px;}
.ml {margin-left: 20px;}
.mr {margin-right: 20px;}

.m\+ {margin: 40px;}
.mt\+ {margin-top: 40px;}
.mb\+ {margin-bottom: 40px;}
.ml\+ {margin-left: 40px;}
.mr\+ {margin-right: 40px;}

.p0 {padding: 0px;}
.pt0 {padding-top: 0px;}
.pb0 {padding-bottom: 0px;}
.pl0 {padding-left: 0px;}
.pr0 {padding-right: 0px;}

.p\- {padding: 10px;}
.pt\- {padding-top: 10px;}
.pb\- {padding-bottom: 10px;}
.pl\- {padding-left: 10px;}
.pr\- {padding-right: 10px;}

.p {padding: 20px;}
.pt {padding-top: 20px;}
.pb {padding-bottom: 20px;}
.pl {padding-left: 20px;}
.pr {padding-right: 20px;}

.p\+ {padding: 40px;}
.pt\+ {padding-top: 40px;}
.pb\+ {padding-bottom: 40px;}
.pl\+ {padding-left: 40px;}
.pr\+ {padding-right: 40px;}

// Flexbox helpers
.flex,
.flex.horizontal,
.flex.horizontal-reverse,
.flex.vertical,
.flex.vertical-reverse {
  display: flex;
}
.flex.inline {
  display: inline-flex;
}
.flex.horizontal {
  flex-direction: row;
}
.flex.horizontal-reverse {
  flex-direction: row-reverse;
}
.flex.vertical {
  flex-direction: column;
}

.flex.vertical-reverse {
  flex-direction: column-reverse;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.flex,
.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-11 {
  flex: 11;
}

.flex-12 {
  flex: 12;
}

// alignment in cross axis
.flex.start {
  align-items: flex-start;
}

.flex.center,
.flex.center-center {
  align-items: center;
}

.flex.end {
  align-items: flex-end;
}

// alignment in main axis
.flex.start-justified {
  justify-content: flex-start;
}

.flex.center-justified,
.flex.center-center {
  justify-content: center;
}

.flex.end-justified {
  justify-content: flex-end;
}

.flex.around-justified {
  justify-content: space-around;
}

.flex.justified {
  justify-content: space-between;
}

// self alignment
.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.self-stretch {
  align-self: stretch;
}


.highlight {
    border-bottom: 3px solid transparentize($brand-color2, 0.6);
    box-shadow: inset 0 -5px 0 transparentize($brand-color2, 0.4);
}

// animation
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

