.header {
    margin-top: 120px;
    position: relative;
    color: #fff;
    // height: 80vh;
    height: 640px;
    border-radius: 0 0 20px 0;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
        height: 460px;
    }
    @media screen and (max-width: 740px) {
        height: 320px;
    }
    &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px -30px 100px rgba(0,0,0,1);
        top: 0;
        left: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0);
        transition: all .3s ease-in-out;
        &.is-animated {
            background: rgba(0, 0, 0, 0.7);
        }
    }
    &__bg-img {
        background-image:url('../img/homepage-computer.jpg');
        height: 100%;
        background-position: top center;
        background-size: contain;
    }
    &__title-wrap {
        position: absolute;
        z-index: 999999999;
        top: 50%;
        left: 50%;
        width: 70%;
        height: 230px;
        margin-left: -35%;
        margin-top: -115px;
        text-align: center;
    }
    &__title {
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 500;
        line-height: 1;
    }
    &__subtitle {
        font-style: italic;
        font-family: "pt-serif";
        font-size: 30px;
    }
    &__video {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 366px;
        margin-top: -105px;
        margin-left: -191px;
        z-index: 999999;

        @media screen and (max-width: 1200px) {
            width: 263px;
            margin-top: -75px;
            margin-left: -137px;
        }
        @media screen and (max-width: 740px) {
            width: 182px;
            margin-top: -53px;
            margin-left: -95px;
        }
    }
    p {
        color: #fff;
        line-height: 1;
    }
    &__text {
        position: absolute;
        z-index: 99999;
        transform: translateY(-100%);
        opacity: 0;
        left: 50%;
        width: 800px;
        text-align: center;
        margin-left: -400px;
        top: 50px;
        transition: all .3s ease-in-out;
        text-shadow: 0px -5px 5px rgba(255,255,255,1);
        @media screen and (max-width: 740px) {
            width: 500px;
            margin-left: -250px;
            top: 10px;
            h2{
                margin-bottom: 0;
            }
        }
        &.is-animated {
            text-shadow: 0px 0px 0px rgba(255,255,255,1);
            opacity: 1;
            transform: translateY(0%);
        }
    }
    .no-video .video-container video,
    .touch .video-container video {
        display: none;
    }
    .no-video .video-container .poster,
    .touch .video-container .poster {
        display: block !important;
    }
    .video-container {
        position: relative;
        bottom: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: #000;
    }
    .video-container .poster img {
        width: 100%;
        bottom: 0;
        position: absolute;
    }
    .video-container .filter {
        z-index: 100;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
    }
    .video-container video {
        position: absolute;
        z-index: 0;
        bottom: 0;
        -webkit-filter: saturate(0%);
    }
    .video-container video.fillWidth {
        width: 100%;
    }
}