.menu {
    position: fixed;
    z-index: 99999999999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px 0;
    text-align: center;
    // background: rgba(0, 0, 0, .5);
    // -webkit-backdrop-filter: blur(10px) saturate(100%);
  
    &__logo {
        position: absolute;
        left:0%; 
        margin-left:20px;
        #logo-icon {
            
        }

        #logo-text {
            opacity: 0;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        float: right;
    }
    
    &__item {
        position: relative;
        display: block;
        margin-right: 20px;
    }

    &__link {
        // font-weight: lighter;
        position: relative;
        display: block;
        // min-width: 105px;
        text-align: right;
        color: $brand-color2 !important;
        // background: transparentize($brand-color, 0.2);
        // padding: 10px;
        // border: solid 2px $brand-color;
        // border-radius: 6px;
        transition: color 0.3s;
    }
}